head 
    meta(charset="UTF-8")
    title DS18b20
    script(type='text/javascript', src='https://canvasjs.com/assets/script/canvasjs.min.js')
h1 1. Temperature Monitor
br
h2 Temperature
input(type="text", size="6")
br
h1 2. Graph
br