<html>
<head>
    <meta charset="UTF-8" />
    <title>DS18b20</title>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    <h1>1. Temperature Monitor</h1><br/>
    <h2>Temperature</h2><input type="text" size="6" id="temp"/>&#176<br/>   
    <h1>2. Graph</h1><br/>
    <div id="chartContainer" style="height: 300px; width:80%;"></div>    
    <script type="text/javascript" src="chanelIndex.js">
            
    </script>   
</body>
</html>
