<html>
    <head>

    </head>
    <body>
        <h1>Users</h1>
        <a href="/users/create">New User</a>
        <form action="/users/search" method="get">
            <input type="text" name="q"/>
            <button>Search</button>
        </form>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <% userList.forEach(function(user){ %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                </tr>                
            <% }) %>
        </table>
    </body>
</html>